HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OBJECT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DFN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
Q {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CAPTION {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TFOOT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BACKGROUND-COLOR: #252425; FONT-FAMILY: "Lucida Grande", "Arial", Helvetica, Helvetica Neue, Verdana, sans-serif; COLOR: #e2e1e1; FONT-SIZE: 76%
}
#container {
	BORDER-BOTTOM: #000 1px solid; MARGIN: 0px auto -100px; MIN-HEIGHT: 100%; WIDTH: 960px; HEIGHT: auto
}
#header {
	BORDER-BOTTOM: #bcd436 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 30px
}
.clear {
	CLEAR: both
}
DIV.title {
	MARGIN-BOTTOM: 5px
}
DIV.header-title {
	BACKGROUND-COLOR: #000;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 55px;
	FLOAT: left
}
DIV.header-title H1 {
	LETTER-SPACING: 3px;
	COLOR: #FFF;
	FONT-SIZE: 2.2em;
	FONT-WEIGHT: bold
}
DIV.header-email {
	BORDER-BOTTOM: #bcd436 1px solid;
	TEXT-ALIGN: right;
	LINE-HEIGHT: 20px;
	MARGIN-TOP: 12px;
	WIDTH: 720px;
	FLOAT: right;
	LETTER-SPACING: 1px;
	COLOR: #000;
	FONT-SIZE: 0.9em
}
DIV.sitenav {
	FLOAT: left
}
DIV.sitenav UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
DIV.sitenav LI {
	MARGIN-TOP: 15px; FONT-SIZE: 1.4em
}
DIV.sitenav A {
	COLOR: #e2e1e1
}
DIV.sitenav A:hover {
	COLOR: #bcd436
}
DIV.timpic {
	FLOAT: right
}
DIV.about-nav {
	WIDTH: 230px; FLOAT: left; FONT-SIZE: 1em
}
DIV.about {
	LINE-HEIGHT: 18px; WIDTH: 228px; FLOAT: left; MARGIN-LEFT: 15px; FONT-SIZE: 1em
}
#thumbnav {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN-TOP: 20px; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; HEIGHT: 96px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#thumbnav SPAN {
	POSITION: absolute; DISPLAY: none
}
#thumbnav A {
	POSITION: absolute; TEXT-INDENT: -900%; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; DISPLAY: block
}
#thumbnav A:hover {
	BACKGROUND-POSITION: left bottom
}
#thumbnav A:hover SPAN {
	DISPLAY: block
}
#thumbnav .holeshot {
	WIDTH: 96px; BACKGROUND: url(../images/nav-holeshot.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 0px
}
#thumbnav .zombie {
	WIDTH: 96px; BACKGROUND: url(../images/nav-zombie.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 109px
}
#thumbnav .conan {
	WIDTH: 96px; BACKGROUND: url(../images/nav-conan.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 218px
}
#thumbnav .army {
	WIDTH: 96px; BACKGROUND: url(../images/nav-army.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 327px
}
#thumbnav .rtx {
	WIDTH: 96px; BACKGROUND: url(../images/nav-rtx.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 435px
}
#thumbnav .indy {
	WIDTH: 96px; BACKGROUND: url(../images/nav-indy.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 543px
}
#thumbnav .design {
	WIDTH: 96px; BACKGROUND: url(../images/nav-designs.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 651px
}
#thumbnav .writing {
	WIDTH: 96px; BACKGROUND: url(../images/nav-writing.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 758px
}
#thumbnav .webs {
	WIDTH: 96px; BACKGROUND: url(../images/nav-webs.jpg) no-repeat; HEIGHT: 96px; TOP: 0px; LEFT: 865px
}
#thumbnav .active {
	BACKGROUND-POSITION: left bottom
}
#content {
	MARGIN-TOP: 20px; WIDTH: 960px; MARGIN-BOTTOM: 60px
}
#description {
	WIDTH: 298px; FLOAT: left
}
#description P {
	LINE-HEIGHT: 18px
}
#description UL {
	LINE-HEIGHT: 18px; MARGIN-LEFT: 14px
}
#viewer {
	WIDTH: 645px; FLOAT: right
}
.arrow-left {
	MARGIN-TOP: 200px; FLOAT: left
}
.arrow-right {
	MARGIN-TOP: 200px; FLOAT: right
}
.slideshow {
	WIDTH: 512px; FLOAT: left; HEIGHT: 462px; MARGIN-LEFT: 13px
}
#right {
	CURSOR: pointer
}
DIV.project {
	POSITION: relative; WIDTH: 217px; MARGIN-BOTTOM: 10px; FLOAT: left; MARGIN-RIGHT: 28px
}
DIV.last.project {
	MARGIN: 0px 0px 10px; FLOAT: right
}
DIV.projectdesc {
	
}
DIV.projectdesc A {
	COLOR: #bcd436; TEXT-DECORATION: none
}
DIV.projectdesc A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
DIV.project A:focus {
	TEXT-DECORATION: none
}
DIV.project A:hover {
	TEXT-DECORATION: none
}
DIV.project H1 {
	PADDING-BOTTOM: 10px;
	MARGIN: 0px;
	COLOR: #F00;
	FONT-SIZE: 1.4em;
	PADDING-TOP: 10px
}
DIV.project A:hover H1 {
	COLOR: #fff
}
DIV.projectimage SPAN {
	POSITION: absolute; DISPLAY: none
}
DIV.projectimage {
	HEIGHT: 141px
}
DIV.projectimage A {
	POSITION: absolute;
	TEXT-INDENT: -900%;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	OUTLINE-WIDTH: medium;
	DISPLAY: block;
	background-image: url(images/logo/unity.png);
}
DIV.projectimage A:hover {
	BACKGROUND-POSITION: left bottom
}
DIV.projectimage A:hover SPAN {
	DISPLAY: block
}
DIV.projectimage .holeshot {
	WIDTH: 217px;
	HEIGHT: 141px;
	TOP: 0px;
	LEFT: 0px;
	background-image: url(../images/logo/UML.jpg);
	background-repeat: no-repeat;
}
DIV.projectimage .zombie {
	WIDTH: 217px;
	HEIGHT: 141px;
	TOP: 0px;
	LEFT: 0px;
	background-image: url(../images/logo/unity_r.jpg);
	background-repeat: no-repeat;
}
DIV.projectimage .conan {
	WIDTH: 217px;
	HEIGHT: 141px;
	TOP: 0px;
	LEFT: 0px;
	background-image: url(../images/logo/maya_r.jpg);
	background-repeat: no-repeat;
}
DIV.projectimage .army {
	WIDTH: 217px;
	HEIGHT: 141px;
	TOP: 0px;
	LEFT: 0px;
	background-image: url(../images/logo/PS_r.jpg);
	background-repeat: no-repeat;
}
DIV.projectimage .rtx {
	WIDTH: 217px; BACKGROUND: url(../images/proj-rtx.jpg) no-repeat; HEIGHT: 141px; TOP: 0px; LEFT: 0px
}
DIV.projectimage .indy {
	WIDTH: 217px; BACKGROUND: url(../images/proj-indy.jpg) no-repeat; HEIGHT: 141px; TOP: 0px; LEFT: 0px
}
DIV.projectimage .designs {
	WIDTH: 217px; BACKGROUND: url(../images/proj-designs.jpg) no-repeat; HEIGHT: 141px; TOP: 0px; LEFT: 0px
}
DIV.projectimage .writing {
	WIDTH: 217px; BACKGROUND: url(../images/proj-writing.jpg) no-repeat; HEIGHT: 141px; TOP: 0px; LEFT: 0px
}
DIV.projectimage .websites {
	WIDTH: 217px; BACKGROUND: url(../images/proj-websites.jpg) no-repeat; HEIGHT: 141px; TOP: 0px; LEFT: 0px
}
#push {
	HEIGHT: 100px
}
#footer {
	HEIGHT: 100px
}
#footer-inside {
	MARGIN: 5px auto; WIDTH: 960px
}
#responsiblilties {
	BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative; TEXT-ALIGN: left; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #af0a18; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 1em; OVERFLOW: hidden; PADDING-TOP: 10px
}
#contentblock {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 1em; PADDING-TOP: 10px
}
P {
	MARGIN-BOTTOM: 15px
}
#description H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #bcd436; FONT-SIZE: 2em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1.3em; PADDING-TOP: 10px
}
H3 {
	PADDING-BOTTOM: 10px; FONT-STYLE: italic; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FONT-SIZE: 1.1em; PADDING-TOP: 0px
}
H4 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1.1em; PADDING-TOP: 0px
}
EM {
	FONT-STYLE: italic
}
.imgfloatleft {
	MARGIN: 0px 10px 0px 0px; FLOAT: left
}
.imgfloatright {
	PADDING-BOTTOM: 8px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: right; PADDING-TOP: 8px
}
.imgcenter {
	DISPLAY: block; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
A:link {
	COLOR: #d6d6d6; TEXT-DECORATION: none
}
A:visited {
	COLOR: #d6d6d6; TEXT-DECORATION: none
}
A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
A:active {
	
}
#sidebar A {
	PADDING-RIGHT: 5px; BORDER-RIGHT: #af0a18 2px solid
}
#sidebar A:hover {
	PADDING-RIGHT: 5px; BORDER-RIGHT: #d6d6d6 2px solid
}
